BasedOnStyle: LLVM
IndentWidth: 4
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
TabWidth: 4
UseTab: Never
ColumnLimit: 120
